/* Variables */
:root {
    --CardPadding: 20px;
}

/* Common */
*{
    padding: 0;
    margin: 0;
}

html{
    background: rgb(235,51,73);
    background: -moz-linear-gradient(90deg, rgba(235,51,73,1) 0%, rgba(244,92,67,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(235,51,73,1) 0%, rgba(244,92,67,1) 100%);
    background: linear-gradient(90deg, rgba(235,51,73,1) 0%, rgba(244,92,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb3349",endColorstr="#f45c43",GradientType=1);
}

header {
    background-color: #333;
    color: #fafafa;
    padding: 20px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* Terminal Mode */
.terminal-mode {
    background: #001f00 !important;
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
}

.terminal-mode p{
    white-space: normal;
    word-wrap: break-word;
}

.hidden {
    display: none;
}

#btn_hideTerminal{
    font-weight: bolder;
    font-style: italic;
}
#btn_hideTerminal:hover{
    cursor: pointer;
    color: white;

}

#btn_showTerminal {
    background-color: #333;
    border: none;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    padding: var(--CardPadding);
    width: 100%;
    font-family: Lexend Deca, Arial, sans-serif;
    font-weight: 400;
}

#btn_showTerminal:hover {
    background-color: #ff6b51;
}

.manifesto-list{
    list-style: none;
    padding: 10px;

    color: black;
    background-color: #f8f8f8;
    font-family: Lexend Deca, Arial, sans-serif;
    margin: 0;

    overflow-x: hidden;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#manifesto-listContainer_2{
    list-style: none;
    margin: 0;
    padding: 0;

    margin-left: auto;
    margin-right: auto;
    
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}

#manifesto-listContainer_2:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.card p{
    color: #333;
    font-family: 'Lexend Deca', sans-serif, Arial;
}

.card, #letters {
    height: auto;
}
  
#letters {
    text-align: center;
    padding-bottom: var(--CardPadding);
    border-bottom: 3px solid black;
    width: 90%;
}
  
.letter {
    font-family: 'Lexend Deca', 'calibri', 'Merriweather', 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    color: #b6b6b6;
    cursor: pointer;
}

.letter:hover {
    color: #ff6b51;
}

#CardsContainer{
    padding-top: var(--CardPadding);
}

#letterSpace {
    width: 20px;
}
  
.letterActive {
    color: #666;
}

#manifesto-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #f2f2f2;
    padding: var(--CardPadding);
}

#manifesto-list strong{
    color: rgb(221, 114, 0);
}

#manifesto-listContainer_1{
    overflow-x: hidden;
}


/* Height Responsiveness */
@media (max-height: 360px) {
    #manifesto-listContainer_1{
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
  
@media (min-height: 400px) {
    #manifesto-listContainer_1{
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

@media (max-height: 400px) {
    #manifesto-listContainer_2:hover {
        transform: scale(1);
    }
}

/* Width Responsiveness */


@media (max-width: 700px) {
    

    #manifesto-listContainer_2:hover {
        transform: scale(1);
    }
}

@media (min-width: 700px) {
    #letterSpace{
        display: inline-block;
    }
}

@media (max-width: 360px) {
    .card p, .terminal-mode p {
    font-size: 16px;
    }

    .letter {
        font-size: 36px;
    }

    #btn_showTerminal{
        font-size: 14px;
    }

    #manifesto-listContainer_2 {
        width: 66%;
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .card p, .terminal-mode p {
        font-size: 18px;
    }

    .letter {
        font-size: 38px;
    }

    #btn_showTerminal{
        font-size: 16px;
    }

    #manifesto-listContainer_2 {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 576px) {
    .card p, .terminal-mode p {
        font-size: 20px;
    }

    .letter {
        font-size: 40px;
    }

    #btn_showTerminal {
        font-size: 18px;
    }

    #manifesto-listContainer_2 {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .card p, .terminal-mode p {
        font-size: 22px;
    }

    .letter {
        font-size: 42px;
    }

    #btn_showTerminal {
        font-size: 20px;
    }

    #manifesto-listContainer_2 {
        width: 66%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .card p, .terminal-mode p {
        font-size: 24px;
    }

    .letter {
        font-size: 44px;
    }

    #btn_showTerminal {
        font-size: 22px;
    }

    #manifesto-listContainer_2 {
        width: 66%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .card p, .terminal-mode p {
        font-size: 26px;
    }

    .letter {
        font-size: 46px;
    }

    #btn_showTerminal {
        font-size: 24px;
    }

    #manifesto-listContainer_2 {
        width: 66%;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .card p, .terminal-mode p {
        font-size: 28px;
    }

    .letter {
        font-size: 48px;
    }

    #btn_showTerminal {
        font-size: 26px;
    }

    #manifesto-listContainer_2 {
        width: 66%;
    }
}

@media (min-width: 1600px) and (max-width: 2560px) {
    .card p, .terminal-mode p {
        font-size: 34px;
    }

    .letter {
        font-size: 54px;
    }

    #btn_showTerminal {
        font-size: 32px;
    }

    #manifesto-listContainer_2 {
        width: 66%;
    }

    #manifesto-listContainer_2:hover {
        transform: scale(1.4);
    }
}

@media (min-width: 2560px) {
    .card p, .terminal-mode p {
        font-size: 38px;
    }

    .letter {
        font-size: 58px;
    }

    #btn_showTerminal {
        font-size: 36px;
    }

    #manifesto-listContainer_2 {
        max-width: 1500px;
    }

    #manifesto-listContainer_2:hover {
        transform: scale(1.4);
    }
}